modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "gce"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
OROPLAY_CLIENT_ID = "tk6699"
OROPLAY_API_ENDPOINT = "https://bs.sxvwlkohlv.com/api/v2"
VITE_GOOGLE_CLIENT_ID = "463887510261-v54ueq9n9c482tjrco87s5tq8e9p93s9.apps.googleusercontent.com"
